<%= form_with(model: @todo, class: "my-10 flex justify-center items-center flex-col gap-y-2", local: true) do |form| %>
  <% if flash[:error] %>
    <div class="rounded-md bg-red-50 p-4 w-full">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <div class="text-sm text-yellow-700">
            <%= flash[:error] %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="border-b border-white/10 py-2.5 rounded-md px-3 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-primary w-full">
    <h2 class="text-base font-semibold leading-7 ">Todo Edit Form</h2>
    <p class="mt-1 text-sm leading-6 text-gray-400">Use form to edit todo</p>

    <div class="mt-10">
      <div class="rounded-md px-3 pb-1.5 pt-2.5  shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-primary w-full">
        <label for="title" class="block text-xs font-medium text-gray-900">Title</label>
        <%= form.text_field :title, placeholder: "Todo Title", class: "block w-full border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <div class="mt-10">
      <div class="rounded-md px-3 pb-1.5 pt-2.5  shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-primary w-full">
        <label for="description" class="block text-xs font-medium text-gray-900">Description</label>
        <%= form.text_field :description, placeholder: "Todo Description", class: "block w-full border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
      </div>
    </div>

    <div class="flex gap-x-3 mt-8">
      <div class="flex h-6 items-center">
        <%= form.check_box :is_completed, id: "is_completed", type: "checkbox", class: "h-4 w-4 rounded border-white/10 bg-white/5 text-indigo-600 focus:ring-indigo-600 focus:ring-offset-gray-900" %>
      </div>
      <div class="text-sm leading-6">
        <label for="is_completed" class="font-medium ">Is Completed?</label>
      </div>
    </div>

    <div class="flex gap-x-3 mt-8 justify-between">
      <%= link_to todos_path(), class: "bg-none text-primary font-bold" do %>
        <i class="text-2xl text-gray-500 icofont-reply" aria-hidden="true"></i>
      <% end %>
      <%= form.button :button, type: :submit, class: "bg-none" do %>
        <i class="text-2xl text-green-500 icofont-save" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>
